@import "tailwindcss";

@theme {
    --color-primary: #082567;
    --color-secondary: #103B99;
    --color-accent: #F5B700;
}

/* carousel css */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
/* end carousel css */
